h1 {
    text-align: center;
}

.form-field {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding: 4.1px;
}

.form-field > input, .form-field > textarea {
    width: 85%;
}

.form-field > label {
    width: 15%;
    vertical-align: bottom;
    display: inline-block;
    text-transform: capitalize;
}

.existing-group {
    display: inline;
}

.existing-select {
    padding: 4.1px;
    width: 42.5%;
}

.existing-input {
    width: 42.5%;
}

#car-submit-button {
    width: 80%;
    height: 40px;
    border: black solid 1px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#car-submit-button:hover {
    background-color: darkgray;
}

.errors {
    color: red;
}