/**
 * Some formatting for the CAR list.
 */



#container-left.column{
	display: none;
}

 .car-field-container {
	display:block;
	text-align: center;
	font-size: 17px;
}
 
.car-title {
	font-weight: bold;
	text-decoration: underline;	
	text-align:center;
}

.car-judges, .car-circut{
	font-size: 12px; 
}

.car-summary {
	text-align:justify;
}

h2, h5{
	text-align: center;
}
.car-date, .car-citation{
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
}

.more {display: none;}

.readMoreButton{
	font-size: .7rem;
}

.car-subject {
	display: inline-block;
	cursor: pointer;
	font-size:11px;
	padding: 0%;
	border-bottom: 1px solid transparent;
}

#car-subject_1{
	padding: .3rem;
}
#car-form{
	text-align: center;
}
.car-subject:hover {
	border-bottom: 1px solid #666;
}

@media screen and (min-width: 1000px){

	#container-left.column{
		display: inline-block;
	}
	
 }