/**
 * Some formatting for the CAR list.
 */

 #container-left.column{
	display: none;
}

 .car-field-container {
	display: block;
	text-align: justify; 
	font-size: .9rem;

}
 
h2, h5{
	font-size: 1.7rem;
	font-weight: bold;
}

option {
	text-transform: capitalize;
}


.more {display: none;}

.readMoreButton{
	font-size: .7rem;
}

/*
#car-subject_1{
	text-transform: capitalize;
    padding: 4.1px;
	width: 7.4rem;
}

#car-dates{
    padding: 4.1px;
	width: 7.4rem;
}

#car-search{
	text-transform: capitalize;
    padding: 4.1px;
	width: 7.4rem;
}

#car-sort{
    padding: 4.1px;
	width: 7.4rem;
}*/

h2 {
	text-align: center;
}

#car-form-button {
	position: fixed;
    top: 15px;
    right: 30px;
    z-index: 100;
}

#car-form {
	display: none;
	position: fixed;
	z-index: 100;
	background-color: white;
}

.car-form-field {
	text-transform: capitalize;
	padding: 4.1px;
	margin-left: 3px;
	margin-right: 10px;
	width: 14.4rem;
}

#checkbox-group {
	background-color: white;;
	display: inline;
	padding: 5px;
	border: 1px solid grey;
	border-radius: 2px;
	margin-left: 3px;
}

#checkbox-group > label {
	text-transform: capitalize;
	margin-right: 2px;
	margin-left: 4px;
}

#car-search-box {
	width: 22rem;
}

#car-mobile-separator {
	display: none;
}

.car-title {
	font-weight: bold;
	text-decoration: underline;	
	font-size: 1rem;
}
.car-subject {
	padding: 0%;
}
.car-judges, .car-circut{
}

.car-summary {
	text-align: left;
	padding-top: .5rem;
}

.car-date {
    font-size: 14px;
    color: #1d4877;
    padding-top: 1.1rem;
    font-weight: 200;
}
.car-instance {
    position: relative;
}
div#date {
    position: absolute;
    top: 0px;
	right: 0px;
}
.car-citation{
	display: none;
}
.car-judges{
	display: none;
}
.car-judges{
	display: none;
}
.car-subject-2{
	display: none;
}
.car-circut{
	display: none;
}


@media screen and (min-width: 900px){

	#car-form-button{
		display: none;
	}

	#car-form{
		display: block;
		text-align: center;
		position: static;
	}

	#container-left.column{
		display: inline-block;
	}
	
	.car-title {
		font-weight: bold;
		text-decoration: underline;	
		text-align:center;
	}
	.car-field-container {
		display:block;
		text-align: center;
		font-size: 17px;
	}
	.car-citation{
		display: inline-block;
	}
	.car-date, .car-citation{
		padding-top: 2.5rem;
		font-size: 14px;
	}
	.car-subject {
		display: inline-block;
		font-size:11px;
		text-align: center;
	}
	.car-subject-2 {
		display: inline-block;
		font-size:11px;
		text-align: center;
	}
	div#citation {
		position: absolute;
		top: 0px;
		left: 0px;
	}
	.car-circut{
		display: inline-block;
		position: absolute;
		padding-top: 2.5rem;
		top: 0px;
		left: 9.8rem;

	}
	.car-judges{
		display: inline-block;
		position: absolute;
		padding-top: 2.5rem;
		top: 0px;
		right: 11rem;
	}
 }

@media screen and (max-width: 899px){
	#car-form {
		width: 100%;
		top: 57px;
		left: 0px;
		background-color: #232F3E;
		padding: 10px 5px;
	}

	#checkbox-group {
		width: 100%;
	}

	#car-search-box {
		width: 95%;
		margin-left: 3px;
	}

	#car-form > div > label {
		display: none;
	}

	select {
		display: block;
		min-width: 95%;
	}

	#car-mobile-separator {
		display: block;
	}
}