/**
 * Some formatting for the CAR list.
 */



#container-left.column{
	display: none;
}

 .car-field-container {
	display: block;
	text-align: justify; 
	font-size: .9rem;

}
 
h2, h5{
	font-size: 1.7rem;
	font-weight: bold;
}


.more {display: none;}

.readMoreButton{
	font-size: .7rem;
}


#car-subject_1{
    padding: 4.1px;
	width: 7.4rem;
}

.car-title {
	font-weight: bold;
	text-decoration: underline;	
	font-size: 1rem;
}
.car-subject {
	padding: 0%;
}
.car-summary {
	text-align: left;
	padding-top: .5rem;
}

.car-date {
    font-size: 14px;
    color: #1d4877;
    padding-top: 16px;
    font-weight: 200;
}
.car-instance {
    position: relative;
}
div#date {
    position: absolute;
    top: 0px;
    right: 0px;
}





@media screen and (min-width: 900px){

	#container-left.column{
		display: inline-block;
	}
	
	.car-title {
		font-weight: bold;
		text-decoration: underline;	
		text-align:center;
	}
	.car-field-container {
		display:block;
		text-align: center;
		font-size: 17px;
	}
	.car-citation{
		padding: 0;
	}
	.car-date, .car-citation{
		font-size: 14px;
	}
	#car-subject_1{
	padding: .3rem;
	width: 17rem;
	}
	.car-subject {
	display: inline-block;
	font-size:11px;
	padding: 0%;
	}
	.car-date, .car-citation{
	display: inline-block;
	font-weight: bold;
	}

 }