

.form-group {
    display:block;
}

.form-item {
    display:block;
}





.form-item label {
    display:block;
    text-transform: capitalize;
}


.page-title {
    margin-bottom: 10px;
    font-size: 18px;
}

#record-form input,
#record-form select,
#record-form button {
    min-height: 30px;
    vertical-align: middle;
    padding: 11px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width:100%;
}

#record-form input[type="checkbox"] {
    width: auto;
}


@media only screen and (min-width:800px) {

    .form-group .form-item {
        display: inline-block;
    }


    #record-form input,
    #record-form select,
    #record-form button {
        width:auto;
    }
}

#record-form textarea {
    padding:11px;
    overflow:scroll;
    max-width:100%;
}

#record-form button,
#record-form input[type="submit"],
#record-form input[type="reset"] {
    padding-left:11px;
    padding-right:11px;
}

label {
    text-transform: lowercase;
    font-size: smaller;
    font-weight: bold;
    color: #999;
    display:block;
}

.form-item-link label {
    display:block;
}
