/**
 * Some formatting for the CAR list.
 */



.car-field-container {
	display: block;
	text-align: justify; 
	font-size: .9rem;

}
 
h2, h5 {
	font-size: 1.7rem;
	font-weight: bold;
}

option {
	text-transform: capitalize;
}


.more {display: none;}

.readMoreButton{
	font-size: .7rem;
}

/*
#car-subject_1{
	text-transform: capitalize;
    padding: 4.1px;
	width: 7.4rem;
}

#car-dates{
    padding: 4.1px;
	width: 7.4rem;
}

#car-search{
	text-transform: capitalize;
    padding: 4.1px;
	width: 7.4rem;
}

#car-sort{
    padding: 4.1px;
	width: 7.4rem;
}*/

h2 {
	text-align: center;
}

.car-link-btn {
	display: block;
	margin: 10px auto;
	text-align: center;
	background-color: rgb(239, 239, 239);
	height: 50px;
	width: 70%;
	min-width: 300px;
	line-height: 45px;
	border: black 1px solid;
	border-radius: 5px;
}

.car-link-btn:hover {
	background-color: darkgray;
}

.car-link-btn > span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	color: black;
}

.car-update-link, .car-delete-link {
	display: inline-block;
	width: 10%;
	min-width: 55px;
	height: 25px;
	line-height: 22px;
}

.car-delete-link {
	background-color: rgba(255,0,0,0.3);
}

.car-delete-link:hover {
	background-color: rgba(255,0,0,0.5);
}

#car-id {
	display: none;
}

#car-form-button {
	position: fixed;
    top: 15px;
    right: 30px;
    z-index: 100;
}

#car-form {
	display: none;
	position: fixed;
	z-index: 100;
	background-color: white;
}

.car-form-field {
	text-transform: capitalize;
	padding: 4.1px;
	margin-left: 3px;
	margin-right: 10px;
	width: 14.4rem;
}

#checkbox-group {
	background-color: white;;
	display: inline;
	padding: 5px;
	border: 1px solid grey;
	border-radius: 2px;
	margin-left: 3px;
}

#checkbox-group > label {
	text-transform: capitalize;
	margin-right: 2px;
	margin-left: 4px;
}

#car-search-box {
	width: 22rem;
}

#car-mobile-separator {
	display: none;
}

.car-title {
	font-weight: bold;
	text-decoration: underline;	
	font-size: 1rem;
}
.car-subject {
	padding: 0%;
}
.car-judges, .car-circut{
}

.car-summary {
	text-align: left;
	padding-top: .5rem;
}

.car-date {
    font-size: 14px;
    color: #1d4877;
    padding-top: 1.1rem;
    font-weight: 200;
}
.car-instance {
    position: relative;
}
div#date {
    position: absolute;
    top: 0px;
	right: 0px;
}
.car-citation{
	display: none;
}
.car-judges{
	display: none;
}
.car-judges{
	display: none;
}
.car-subject-2{
	display: none;
}
.car-circut{
	display: none;
}

#modal{
	position: fixed;
	color: rgba(0,0,0,0.7);
	top: 300px;
	width: 70%;
	min-height: 0;
	left: 0;
	margin-left: 15%;
}

#modal a, #modal hr {
	display: none;
}

#modal-content {
	margin-top: 20px;
}

#car-modal-header {
	text-align: center;
	font-weight: bold;
	color: black;
}

#car-modal-body {
	padding: 20px;
	margin: 10px;
	border: gray 5px solid;
}

#modal #car-modal-confirm {
	display: inline-block;
	background-color: rgba(255,0,0,0.3);
	width: 10%;
	margin-left: 20%;
}

#modal #car-modal-confirm:hover {
	color: black;
	background-color: rgba(255,0,0,0.5);
}

#modal #car-modal-cancel {
	display: inline-block;
	background-color: rgb(239, 239, 239);
	width: 10%;
	margin-left: 30%;
}

#modal #car-modal-cancel:hover {
	color: black;
	background-color: darkgray;
}

.car-model-button {
	color: black;
	text-align: center;
	height: 50px;
	line-height: 45px;
	width: 120px;
	margin-bottom: 10px;
	border: black 1px solid;
	border-radius: 10px;
}

.car-model-button > span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

#modal .car-citation, #modal .car-circut, #modal .car-judges, #modal .car-date {
	position: relative;
	display: inline;
	padding-top: 0;
	top: 0px;
	left: 0;
}

#modal #citation.car-field-container, #modal #circut.car-field-container, #modal #judges.car-field-container, #modal #date.car-field-container {
	display: inline-block;
	position: absolute;
	width: 20%;
	padding-top: 0;
	top: 30%;
	left: 0;
}

#modal #citation.car-field-container {
	margin-left: 0;
}

#modal #circut.car-field-container {
	margin-left: 20%;
}

#modal #judges.car-field-container {
	margin-left: 60%;
}

#modal #date.car-field-container {
	margin-left: 80%;
}

#modal .readMoreButton {
	display: none;
}

.update-modal {
	overflow-y: auto;
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}


@media screen and (min-width: 900px){

	#car-form-button{
		display: none;
	}

	#car-form{
		display: block;
		text-align: center;
		position: static;
	}

	#car-search-container {
		
	}

	
	.car-title {
		font-weight: bold;
		text-decoration: underline;	
		text-align:center;
	}
	.car-field-container {
		display:block;
		text-align: center;
		font-size: 17px;
	}
	.car-citation{
		display: inline-block;
	}
	.car-date, .car-citation{
		padding-top: 2.5rem;
		font-size: 14px;
	}
	.car-subject {
		display: inline-block;
		font-size:11px;
		text-align: center;
	}
	.car-subject-2 {
		display: inline-block;
		font-size:11px;
		text-align: center;
	}
	div#citation.car-field-container {
		position: absolute;
		top: 0px;
		left: 0px;
	}
	.car-circut{
		display: inline-block;
		position: absolute;
		padding-top: 2.5rem;
		top: 0px;
		left: 9.8rem;

	}
	.car-judges{
		display: inline-block;
		position: absolute;
		padding-top: 2.5rem;
		top: 0px;
		right: 11rem;
	}
 }

@media screen and (max-width: 899px){
	.show-form {
		display: block;
	}

	.hide-form #car-form {
		display: none;
	}

	#car-form {
		width: 100%;
		top: 57px;
		left: 0px;
		background-color: #232F3E;
		padding: 10px 5px;
	}

	#checkbox-group {
		width: 100%;
	}

	#car-search-box {
		width: 95%;
		margin-left: 3px;
	}

	#car-form > div > label {
		display: none;
	}

	select {
		display: block;
		min-width: 95%;
	}

	#car-mobile-separator {
		display: block;
	}
}