#car-search .form-item {
    display: inline-block;
}




#car-search input,
#car-search select,
#car-search button {
    height:30px;
    vertical-align: middle;
}


#car-search button {
    padding-left:11px;
    padding-right:11px;
}
